.Button {
   background-color: transparent;
   border: none;
   color: white;
   outline: none;
   cursor: pointer;
   font: inherit;
   padding: 10px;
   margin: 10px;
   font-weight: bold;
}

.Button:first-of-type {
   margin-left: 0;
   padding-left: 0;
}

.Button:disabled {
  background-color: grey;
  cursor: not-allowed;
  border: 1px solid grey;
  color: black;
}

.Button:disabled:hover {
  background-color: grey;
  color: black;
}

.Success {
   color: white;
   width: 100%;
   padding: 16px 0;
   margin: 5px 0;
   text-align: center;
   background-color: #3557d8;
}

.Danger {
   color: white;
   width: 100%;
   padding: 16px 0;
   margin: 0;
   text-align: center;
   background-color: #944317
}

.Order {
  color: #67cd97;
  display: inline-block;
  padding: 10px 24px !important;
  background-color: white;
  border: 1px solid #67cd97;
}

.Order:hover {
  color: white;
  background-color: #67cd97;
}

.textBtnSuccess {
  color: rgb(131, 221, 131);
  margin: 0;
}

.textBtnDanger {
  color: rgb(200, 49, 49);
  margin: 0;
}